{% extends 'layout.twig' %}
{% block body %}
<h1>Сайты</h1>
<div class="table-responsive">
    <table class="table table-bordered table-hover text-nowrap" data-test="urls">
        <thead>
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Последняя проверка</th>
                <th>Код ответа</th>
            </tr>
        </thead>
        <tbody>
        {% for url in urls %}
		{% set urlId = url.getId() %}
        {% if checks[ urlId ] is defined %}
        {% set lastCheck = {
            'createdAt': checks[ urlId ].getCreatedAt(),
            'statusCode': checks[ urlId ].getStatusCode()
        } %}
        {% else %}
        {% set lastCheck = {'createdAt': '', 'statusCode': ''} %}
        {% endif %}
        <tr>
            <td>{{ urlId }}</td>
            <td><a href="{{ url_for('url', {'id': urlId}) }}">{{ url.getName() }}</a></td>
            <td>{{ lastCheck.createdAt }}</td>
            <td>{{ lastCheck.statusCode }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
