{% extends 'layout.twig' %}
{% block body %}
<h1>Сайты</h1>
<div class="table-responsive">
    <table class="table table-bordered table-hover text-nowrap" data-test="urls">
        <thead>
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Последняя проверка</th>
                <th>Код ответа</th>
            </tr>
        </thead>
        <tbody>
			{% for url in urls %}
				{% set url_id = url.getId() %}
				{% if checks[ url_id ] is defined %}
					{% set last_check = {
						'createdAt': checks[ url_id ].getCreatedAt(),
						'statusCode': checks[ url_id ].getStatusCode()
					} %}
				{% else %}
					{% set last_check = {'createdAt': '', 'statusCode': ''} %}
				{% endif %}
				<tr>
					<td>{{ url_id }}</td>
					<td><a href="{{ url_for('url', {'id': url_id}) }}">{{ url.getName() }}</a></td>
					<td>{{ last_check.createdAt }}</td>
					<td>{{ last_check.statusCode }}</td>
				</tr>
			{% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
